<nav class="top-navbar">

    <!-- Left -->

    <div class="navbar-left">

        <!-- Mobile Menu -->

        <button
            class="btn btn-outline-primary d-md-none"
            id="menuToggle">

            <i class="bi bi-list"></i>

        </button>

        <!-- DPMS Logo -->

        <img
            src="../assets/images/dpms-logo.png"
            class="navbar-logo"
            alt="DPMS">

        <div class="navbar-title">

            <h4>

                District Planning & Monitoring System

            </h4>

            <span>

                District Panchayat Gandhinagar

            </span>

        </div>

    </div>

    <!-- Right -->

    <div class="navbar-right">

        <!-- Notification -->

        <div class="notification">

            <i class="bi bi-bell"></i>

        </div>

        <!-- User -->

        <div class="user-chip">

            <div
                class="user-avatar"
                id="userAvatar">

                HS

            </div>

            <div class="user-info">

                <div
                    class="user-name"
                    id="loggedUser">

                    Loading...

                </div>

                <div
                    class="user-role"
                    id="loggedRole">

                </div>

            </div>

        </div>

    </div>

</nav>